# Archivos del sistema operativo (Mac)
.DS_Store
.AppleDouble
.LSOverride

# Editores / IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencias (por si acaso usas Node más adelante)
node_modules/
jspm_packages/
